[submodule "desseguro-30735/P1/labs/2"]
	path = desseguro-30735/P1/labs/2
	url = https://github.com/IMarcusDev/Laboratorio2_U1_30735_DesarroloSeguro
[submodule "pasantias-31109/31109-PPP"]
	path = pasantias-31109/31109-PPP
	url = https://github.com/MatSosa1/31109-PPP
[submodule "distribuidas-30732/P1/Actividades/WebChat"]
	path = distribuidas-30732/P1/Actividades/WebChat
	url = https://github.com/MatSosa1/30732_P1_Webchat
[submodule "videojuegos-30818/SoldierCarer"]
	path = videojuegos-30818/SoldierCarer
	url = https://github.com/MatSosa1/30818-SoldierCarer
[submodule "desseguro-30735/P1/Proyecto"]
	path = desseguro-30735/P1/Proyecto
	url = https://github.com/IMarcusDev/DSS_30735_ProyectoU1
[submodule "seguridad-30808/P2/Proyecto"]
	path = seguridad-30808/P2/Proyecto
	url = https://github.com/IMarcusDev/Proyecto_ISSW_30808
[submodule "aseguramiento-30734/P2/actividad-sonarqube/DSS_30735_ProyectoU1"]
  path = aseguramiento-30734/P2/actividad-sonarqube/DSS_30735_ProyectoU1
  url = https://github.com/IMarcusDev/DSS_30735_ProyectoU1
[submodule "aseguramiento-30734/P2/actividad_sonarqube/DSS_30735_ProyectoU1"]
	path = aseguramiento-30734/P2/actividad_sonarqube/DSS_30735_ProyectoU1
	url = https://github.com/IMarcusDev/DSS_30735_ProyectoU1
[submodule "desseguro-30735/P2/Proyecto"]
	path = desseguro-30735/P2/Proyecto
	url = https://github.com/MatSosa1/30735-P2-Proyecto
[submodule "distribuidas-30732/P2/JWT"]
	path = distribuidas-30732/P2/JWT
	url = https://github.com/MatSosa1/30732_P2_JWTRefreshTokens
[submodule "distribuidas-30732/P2/Clean_Solid"]
	path = distribuidas-30732/P2/Clean_Solid
	url = https://github.com/MatSosa1/30732_P2_ProjectSolid
[submodule "distribuidas-30732/P2/autonomo/project-solid"]
	path = distribuidas-30732/P2/autonomo/project-solid
	url = https://github.com/MatSosa1/30732_P2_ActividadRepasoSRP
[submodule "distribuidas-30732/P2/fintech-securepay-base"]
	path = distribuidas-30732/P2/fintech-securepay-base
	url = https://github.com/MatSosa1/30732_P2_Examen
[submodule "aseguramiento-30734/P3/Auditoria/27837_G1_ADS"]
	path = aseguramiento-30734/P3/Auditoria/27837_G1_ADS
	url = https://github.com/cmacuna7/27837_G1_ADS
[submodule "desseguro-30735/P3/Examen"]
	path = desseguro-30735/P3/Examen
	url = https://github.com/MatSosa1/30735_P3_Examen
[submodule "desseguro-30735/P3/Proyecto"]
	path = desseguro-30735/P3/Proyecto
	url = https://github.com/MatSosa1/30735_P3_Proyecto
[submodule "desseguro-30735/P3/app-reservas"]
	path = desseguro-30735/P3/app-reservas
	url = https://github.com/IMarcusDev/30735_T2_U3_DSS
[submodule "desseguro-30735/P3/recategorizacion-test"]
	path = desseguro-30735/P3/recategorizacion-test
	url = https://github.com/agcudco/recategorizacion-test
[submodule "desseguro-30735/P3/reservas-consultorio"]
	path = desseguro-30735/P3/reservas-consultorio
	url = https://github.com/IMarcusDev/E2E_30735_DSS
[submodule "desseguro-30735/P3/sistema-atencion-qr"]
	path = desseguro-30735/P3/sistema-atencion-qr
	url = https://github.com/victor0043/sistema-atencion-qr
[submodule "desseguro-30735/P3/taller-sast"]
	path = desseguro-30735/P3/taller-sast
	url = https://github.com/MatSosa1/30735_P3_TallerSAST
